{% extends "base.html" %}
{% block main %}
  <div id="contents">
    <div class="validation">
      <p>
      <error>
          {% if form.errors %}
          正しいユーザ名とパスワードを入力して下さい（大文字小文字は区別します）。
          {% endif %}
      </error>
      </p>
      <br />

      <form action="." method="post" accept-charset="utf-8">{% csrf_token %}
        <label for="username">ユーザ名：</label>
        {{ form.username }}
        <br />
        <label for="password">パスワード：</label>
        {{ form.password }}
        <br />
        <input type="submit" value="ログイン" />
      </form>

    </div>
  </div>
{% endblock %}
