{% extends "base.html" %}
{% block main %}
   <!-- コンテンツ内部 -->
   <div id="contents">
      <img src="{{ STATIC_URL }}img/tkdban.jpg" width="580" height="200" /><br />
      <br />
      {% load i18n %}
      <h2>{% trans 'edogawaclub' %}{% trans 'training' %}</h2>
      <br />
      <a href="http://www.city.edogawa.tokyo.jp/shisetsuguide/bunya/kuyakusho/kuminkan/c_toubu/guide/index.html" target="_blank">江戸川クラブの地図はこちらです。</a> 
      <br />
      <table width="580" align="center" cellpadding="1" cellspacing="1" bgcolor="#CCCCCC">
         <tr bgcolor="#FFFFCC">
            <td width="1026">
               <div align="center"><strong>&gt;&gt; {% trans 'edogawaclub' %} &lt;&lt;
                  </strong>
               </div>
            </td>
         </tr>
         <tr>
            <td height="113" bgcolor="#FFFFFF">{% trans 'every thursday' %}(月４回) <br />
               {% trans 'time' %}: １７：３０～１８：３０<br />
               {% trans 'place' %}: 江戸川区東部区民館　(〒132-0014　江戸川区東瑞江1丁目17番1号) <br />
               ※都営新宿線 「{% trans 'mizue st' %} 」{% trans 'on foot' %}5{% trans 'minuites' %}<br />
               駅近。無料駐車場有。男女別更衣室。稽古場までエレベーター利用可 <br />
               <br />
               {% trans 'enrollment fee' %}：2000{% trans 'yen' %}, {% trans 'monthly tuition' %}:5000{% trans 'yen' %}、
               スポーツ保険({% trans 'yearly' %})：1850{% trans 'yen' %}(子供800{% trans 'yen' %}),
               {% trans 'uniform charge' %}: 4500{% trans 'yen' %}(子供4000{% trans 'yen' %})<br />
               ★★{% trans 'edogawaclubs' %}{% trans 'training scene' %}★★<br />
               <img src="{{ STATIC_URL }}img/edogawa.jpg" width="580" height="109" />
            </td>
         </tr>
      </table>
   </div>
   <!-- コンテンツ内部 終わり -->
{% endblock %}