{% extends "base.html" %}
{% block main %}
  <!-- コンテンツ内部 -->
  <div id="contents">
    <img src="{{ STATIC_URL }}img/tkdban.jpg" width="580" height="200" /><br />
    <br />
    {% load i18n %}
    <h2>{% trans 'links' %}</h2>
    <p><a href="http://www.j-taekwondo.com/" target="_blank">ジャパンテコンドースクール</a> 
      ： 東京・横浜で活動するWTFテコンドー教室<br />
      <a href="http://www.taekwondo.vc/" target="_blank">ヨンソン・テコンドー</a> ： 千葉・船橋で活動するWTFテコンドー教室<br />
      <a href="http://www.kakutospirit.net/" target="_blank">格闘スピリット.NET</a> 
      : 格闘技情報サイト<br />
      <a href="http://www.ryujin-jp.net/" target="_blank">格闘技道場一発検索</a> : 格闘技道場検索サイト<br />
      <a href="http://www.sports-ranking.com/" target="_blank">スポーツランキング.com</a> 
      : スポーツ施設検索サイト<br />
      <a href="http://www.tkdshop.jp/" target="_blank">テコンドーオンライン</a> : テコンドー用品専門ショップ<br />
      <a href="http://www.worldchamp.jp/" target="_blank">ワールドチャンプ</a> : 各種格闘技用品販売<br />
    </p>
  </div>
  <!-- コンテンツ内部 終わり -->
{% endblock %}