{% extends "base.html" %}
{% block main %}
  <!-- コンテンツ内部 -->
  <div id="contents">
    <img src="{{ STATIC_URL }}img/tkdban.jpg" width="580" height="200" /><br />
    <br />
    {% load i18n %}
    <h2>{% trans 'inquiry' %}</h2>
    <p>{% trans 'staff' %}：{% trans 'kadowaki haruka' %}<br />
      ms-tkd@hotmail.co.jp<br />
      090-4547-6731<br />
      {% trans 'mail explanation1' %}<br />
      {% trans 'mail explanation2' %}<br />
      {% trans 'mail explanation3' %}<br />
    </p>
  </div>
  <!-- コンテンツ内部 終わり -->
{% endblock %}