{% extends "base.html" %}
{% block main %}
  <!-- コンテンツ内部 -->
  <div id="contents">
    <img src="{{ STATIC_URL }}img/tkdban.jpg" width="580" height="200" /><br />
    <br />
    {% load i18n %}
    {% get_current_language as LANGUAGE_CODE %}
    {% load my_tags %}
    <h2>{% trans 'training' %}</h2>
    <br />
    <a href="#map">{% trans 'map explanation' %}</a> <br />
    <table width="580" align="center" cellpadding="1" cellspacing="1" bgcolor="#CCCCCC">
      <tr bgcolor="#FFFFCC">
        <td width="342" colspan="3">
          <div align="center">
              <strong>&gt;&gt; {% trans 'child class' %} &lt;&lt; </strong>
          </div>
        </td>
      </tr>
      <tr>
        <td width="342" bgcolor="#FFFFFF">
          <div align="center">{% trans 'monday' %}</div>
        </td>
        <td width="342" bgcolor="#FFFFFF">
          <div align="center">{% trans 'wednesday' %}</div>
        </td>
        <td width="342" bgcolor="#FFFFFF">
          <div align="center">{% trans 'saturday' %}</div>
        </td>
      </tr>
      <tr>
        <td bgcolor="#FFFFFF">
          <div align="center">16:30~17:30</div>
        </td>
        <td bgcolor="#FFFFFF">
          <div align="center">16:30~17:30</div>
        </td>
        <td bgcolor="#FFFFFF">
          <div align="center">16:30~17:30</div>
        </td>
      </tr>
      <tr>
        <td bgcolor="#FFFFFF">
          <div align="center">18:00~19:00</div>
        </td>
        <td bgcolor="#FFFFFF">
          <div align="center">18:00~19:00</div>
        </td>
        <td bgcolor="#FFFFFF">
          <div align="center">18:00~19:00</div>
        </td>
      </tr>
      <tr>
        <td height="113" colspan="3" bgcolor="#FFFFFF">{% trans 'enrollment fee' %}: {% get_yen 5000 %},
          {% trans 'sports insurance' %}{% trans 'yearly' %}: {% get_yen 800 %},
          {% trans 'uniform charge' %}: {% get_yen 4000 %}<br />
          &lt;&lt;{% trans 'monthly tuition' %}&gt;&gt;{% trans 'kindergartner' %}: {% get_yen 7000 %},
          {% trans 'elementary junior high schoolers' %}: {% get_yen 8000 %}<br />
          {% trans 'training ok' %}<br />
          ★★{% trans 'child class' %}{% trans 'training scene' %}★★<br />
          <img src="{{ STATIC_URL }}img/training_child.jpg" width="580" height="109" />
        </td>
      </tr>
    </table>
    <br />
    <br />
    <table width="580" align="center" cellpadding="1" cellspacing="1" bgcolor="#CCCCCC">
      <tr bgcolor="#FFFFCC">
        <td colspan="5">
          <div align="center"><strong>&gt;&gt; {% trans 'adult class' %} &lt;&lt;
            </strong>
          </div>
        </td>
      </tr>
      <tr>
        <td width="58" bgcolor="#FFFFFF">
          <div align="center"></div>
        </td>
        <td width="106" bgcolor="#FFFFFF">
          <div align="center">{% trans 'monday' %}</div>
        </td>
        <td width="98" bgcolor="#FFFFFF">
          <div align="center">{% trans 'tue' %}・{% trans 'wednesday' %}・</div>
        </td>
        <td width="145" bgcolor="#FFFFFF">
          <div align="center">{% trans 'friday' %}</div>
        </td>
        <td width="155" bgcolor="#FFFFFF">
          <div align="center">{% trans 'saturday' %}</div>
        </td>
      </tr>
      <tr>
        <td bgcolor="#FFFFFF">
          <div align="center">{% trans 'self training' %}</div>
        </td>
        <td bgcolor="#FFFFFF">
          <div align="center">18:00~19:30</div>
        </td>
        <td bgcolor="#FFFFFF">
          <div align="center">18:00~19:30</div>
        </td>
        <td bgcolor="#FFFFFF">
          <div align="center">18:00~19:30</div>
        </td>
        <td bgcolor="#FFFFFF">
          <div align="center">18:00~18:30</div>
        </td>
      </tr>
      <tr>
        <td bgcolor="#FFFFFF">
          <div align="center">{% trans 'adult' %}</div>
        </td>
        <td bgcolor="#FFFFFF">
          <div align="center">19:30~21:00</div>
        </td>
        <td bgcolor="#FFFFFF">
          <div align="center">19:30~20:50</div>
        </td>
        <td bgcolor="#FFFFFF">
          <div align="center">19:30~20:50</div>
        </td>
        <td rowspan="2" bgcolor="#FFFFFF">
          <div align="center"></div>
          <div align="center"><font color="#FF0000">18:30~20:00<br />
            {% trans 'kyorugi' %}{% trans 'class' %}</font>
          </div>
        </td>
      </tr>
      <tr>
        <td bgcolor="#FFFFFF">
          <div align="center">{% trans 'adult' %}</div>
        </td>
        <td bgcolor="#FFFFFF">
          <div align="center">・</div>
        </td>
        <td bgcolor="#FFFFFF">
          <div align="center">21:00~22:20<br />
          </div>
        </td>
        <td bgcolor="#FFFFFF">
          <div align="center"><font color="#FF0000">21:00~22:20<br />
            {% trans 'poomsae' %}{% trans 'class' %}</font>
          </div>
        </td>
      </tr>
      <tr>
        <td colspan="5" bgcolor="#FFFFFF">{% trans 'enrollment fee' %}: {% get_yen 5000 %},
          {% trans 'sports insurance' %}{% trans 'yearly' %}: {% get_yen 1850 %},
          {% trans 'uniform charge' %}: {% get_yen 4500 %}<br />
          &lt;&lt;{% trans 'monthly tuition' %}&gt;&gt;{% trans 'student' %}: {% get_yen 9000 %},
          {% trans 'adult' %}: {% get_yen 10000 %}<br />
          {% trans 'training ok' %}<br />
          ★★{% trans 'adult class' %}{% trans 'training scene' %}★★ <br />
          <img src="{{ STATIC_URL }}img/training_adult.jpg" width="580" height="109" />
        </td>
      </tr>
    </table>
    <br />
    <table width="580" border="0" cellpadding="0" cellspacing="0">
      <tr>
        <td>
          <a name="map" id="map"></a>
          <b>
            <font color="#0099CC">
              {% trans 'address' %}: {% trans 'address ex1' %}<br />
              {% trans 'address ex2' %}<br />
              {% trans 'address ex3' %}<br />
              {% trans 'address ex4' %}<br />
              {% trans 'address ex5' %}<br />
              {% trans 'address ex6' %}
            </font>
          </b>
        </td>
      </tr>
      <tr>
        <td height="14"><img src="{{ STATIC_URL }}img/line.gif" width="560" height="9" /></td>
      </tr>
      <tr>
        <td><img src="{{ STATIC_URL }}img/{{ LANGUAGE_CODE }}/shinjuku_map.gif" width="468" height="350" /></td>
      </tr>
    </table>
    <br />
    <br />
    <p>&nbsp;</p>
    <p> <br />
    </p>
    <br />
  </div>
<!-- コンテンツ内部 終わり -->
{% endblock %}
