{% extends "entries/base_entries.html" %}
{% block entry_content %}

<!-- BBS一覧 -->
{% if object_list.count < 1 %}
  <b>投稿された記事はありません。</b>
{% else %}
  {# ここからページネーションの開始 #}
  {% load pagination_tags %}
  {% autopaginate object_list 12 %}

  {# 数字表示 #}
  {% paginate %}
  {% for entry in object_list %}
  <dt>
    [{{ entry.id }}] <b><a href="/entries/detail/{{ entry.id }}">{{ entry.title }}</a></b>
    by {{ entry.name }}
    [<a href="mailto:{{ entry.email }}">mail</a>]
    [投稿日: {{ entry.create_at }}]
  </dt>

  <dd>
    {{ entry.content }}
  </dd>

  <dd class="operation">
    [<a href="/entries/update/{{ entry.id }}">編集</a>]
    [<a href="/entries/delete/{{ entry.id }}">削除</a>]
  </dd>
  <hr />
  {% endfor %}

  {# 数字表示 #}
  {% paginate %}
{% endif %}
<dd div class="operation">
  [<a href="/entries/create/">記事の追加</a>]
</dd>
{% endblock %}
