{% extends "entries/base_entries.html" %}
{% block entry_content %}

{% if object %}
<h3>編集</h3><br />
{% else %}
<h3>新規作成</h3><br />
{% endif %}

{% if form.has_errors %}
  {% for field in form.fields %}
    {% if fields.error %}
      {{ field.error}}
    {% endif %}

  {% endfor %}
{% endif %}

<div class="validation">
  <form action="." method="post" accept-charset="utf-8">{% csrf_token %}
    <label for="id_title">タイトル</label>{{ form.title }}
    {% if form.title.errors %}
    <p>
      <error> {{ form.title.errors|join:", " }}</error>
    </p>
    {% endif %}
    <br/><br/>

    <label for="id_email">e-mail</label>{{ form.email }}
    {% if form.email.errors %}
    <p>
      <error> {{ form.email.errors|join:", " }}</error>
    </p>
    {% endif %}
    <br/><br/>

    <label for="id_name">Name</label>{{ form.name }}
    {% if form.name.errors %}
    <p>
      <error> {{ form.name.errors|join:", " }}</error>
    </p>
    {% endif %}
    <br/><br/>

    <label for="id_enable_comments">Comment</label>{{ form.enable_comments }}
    {% if form.enable_comments.errors %}
    <p>
      <error> {{ form.enable_comments.errors|join:", " }}</error>
    </p>
    {% endif %}
    <br/><br/>

    <label for="id_content">内容</label>{{ form.content }}
    {% if form.content.errors %}
    <p>
      <error>
      {{ form.content.errors|join:", " }}
      </error>
    </p>
    <br />
    {% endif %}
    <p><input type="submit" value="保存" /></p><br />
  </form>
</div>
{% endblock %}