{% extends "pages/index.html" %}
{% block news_content %}

{% for news in object_list %}
  <div>
    <img src="{{ STATIC_URL }}img/box.gif" width=10 height=10>
    <a href="/entries/detail_news/{{ news.id }}">{{ news.title }}</a>
    - {{ news.date }}
    {% if news.date|date:"w" == '0' %}
    {# 日曜 #}
    (<font color="#FF0000">{{ news.date|date:"D" }}</font>)
    {% elif news.date|date:"w" == '6' %}
    {# 土曜 #}
    (<font color="#0000FF">{{ news.date|date:"D" }}</font>)
    {% else %}
    (<font color="#000000">{{ news.date|date:"D" }}</font>)
    {% endif %}
    [<a href="/entries/update_news/{{ news.id }}">編集</a>]
    [<a href="/entries/delete_news/{{ news.id }}">削除</a>]
  </div>
  <hr />
{% endfor %}

{% if object %}
<h3>編集</h3><br />
{% else %}
<h3>新規作成</h3><br />
{% endif %}

{% if form.has_errors %}
  {% for field in form.fields %}
    {% if fields.error %}
      {{ field.error}}
    {% endif %}

  {% endfor %}
{% endif %}

<div class="validation">
  <form action="." method="post" accept-charset="utf-8">{% csrf_token %}
    <!-- タイトル -->
    <label for="id_title">タイトル：</label>{{ form.title }}
    {% if form.title.errors %}
    <p>
      <error> {{ form.title.errors|join:", "}}</error>
    </p>
    {% endif %}
    <br/><br/>
    <!-- 内容 -->
    <label for="id_content">内容：</label>{{ form.content }}
    {% if form.content.errors %}
    <p>
      <error>
      {{ form.content.errors|join:", " }}
      </error>
    </p>
    {% endif %}
    <br /><br />
    <!-- 日付 -->
    <!-- 
    <label for="id_date">日付：</label>{{ form.date }}
    --> 
    <p><label for="id_date">日付:</label><input value="{{form.date.value|date:"c"}}" id="id_date" name="date" type="text" class="jquery-ui-datepicker"/></p>

    {% if form.content.errors %}
    <p>
      <error>
      {{ form.content.errors|join:", " }}
      </error>
    </p>
    <br /><br />
    {% endif %}
    <p><input type="submit" value="保存" /></p><br />
  </form>
</div>
{% endblock %}
