{% extends "pages/index.html" %}
{% block news_content %}

{# お知らせ #}
{% if object_list.count < 1 %}
  <b>投稿されたお知らせはありません。</b>
  <br />
{% else %}
  {# ここからページネーションの開始 #}
  {% load pagination_tags %}
  {% autopaginate object_list 12 %}

  {# 数字表示 #}
  {% paginate %}
  {% for news in object_list %}
  <div>
    <img src="{{ STATIC_URL }}img/box.gif" width=10 height=10>
    <a href="/entries/detail_news/{{ news.id }}">{{ news.title }}</a>
    - {{ news.date }}
    {% if news.date|date:"w" == '0' %}
    {# 日曜 #}
    (<font color="#FF0000">{{ news.date|date:"D" }}</font>)
    {% elif news.date|date:"w" == '6' %}
    {# 土曜 #}
    (<font color="#0000FF">{{ news.date|date:"D" }}</font>)
    {% else %}
    (<font color="#000000">{{ news.date|date:"D" }}</font>)
    {% endif %}

    {% if not user.is_anonymous %}
      [<a href="/entries/update_news/{{ news.id }}">編集</a>]
      [<a href="/entries/delete_news/{{ news.id }}">削除</a>]
    {% endif %}
  </div>
  <hr />
  {% endfor %}

  {# 数字表示 #}
  {% paginate %}
  {# ここまでページネーションの開始 #}
{% endif %}

{# 管理者限定 #}
{% if not user.is_anonymous %}
<p>[<a href="/entries/create_news/">記事の追加</a>]</p>
<!--input id="add_news" type="button" value="記事の追加"></input-->
{% endif %}

<div id="glr1"></div>
{% endblock %}
