{% extends "entries/base_entries.html" %}

{% block entry_content %}
{% load comments %}

{% block title %}Comment Posted{% endblock %}

{% block content %}
<h2 class="title">Comment Posted</h2>
<div class="post">
<div class="entry">
<p>Your comment was posted succesfully
{% if comment.is_public %}
 - you can see it by <a href="{{comment.content_object.get_absolute_url}}">returning to the post</a>.
{% else %}
 - it has been held for moderation and, if deemed appropriate, will be approved in due course.
{% endif %}
</p>
</div> 
</div>
{% endblock %}
{% endblock %}