{% extends "entries/base_entries.html" %}
{% load comments %}
{#% load markup %#}
{% load i18n %}

{% block entry_content %}
{% block title %}Preview Comment{% endblock %}

{% block content %}
  {% load comments %}
  <form action="{% comment_form_target %}" method="post">{% csrf_token %}
   {% if next %}<input type="hidden" name="next" value="{{ next }}" />{% endif %}
    {% if form.errors %}
    <h2>{% blocktrans count form.errors|length as counter %}Please correct the error below{% plural %}Please correct the errors below{% endblocktrans %}</h2>
    {% else %}
    <h1>{% trans "Preview your comment" %}</h1>
      <blockquote>{{ comment|linebreaks }}</blockquote>
      <p>
      {% trans "and" %} <input type="submit" name="submit" class="submit-post" value="{% trans "Post your comment" %}" id="submit" /> {% trans "or make changes" %}:
      </p>
    {% endif %}
<table> 
    {% for field in form %}
      {% if field.is_hidden %}
        <tr><td>{{ field }}</td></td></tr>
       {% else %}
        {% if field.errors %}<tr><td colspan="2">{{ field.errors }}</td></tr>{% endif %}
          <tr{% ifequal field.name "honeypot" %} style="display:none;"{% endifequal %}><td>{{ field.label_tag }}</td><td>{{ field }}</td></tr>
      {% endif %}
    {% endfor %}
</table>    
    <p class="submit">
    <input type="submit" name="submit" class="submit-post" value="{% trans "Post" %}" />
    <input type="submit" name="preview" class="submit-preview" value="{% trans "Preview" %}" />
    </p>
  </form>
{% endblock %}
{% endblock %}